:root {
    background: #006064;
}

.wrapper {
    margin: 20px 400px 40px 400px;
    font-size: 40px;
    
    
}

.calculator-body {
    display: grid;
    height: 500px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 20%);
    grid-gap: 0px;
}

.calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E0F7FA;
}

.calculator-main-display {
    display: flex;
    grid-column: 1 / span 4;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    background: #E0F7FA; 
    }


.calculation {
    font-size: 15px;
    border: 0px;
    position: relative;
    bottom: 10px;
    z-index: 99;
}

.calc-btn {
    background: #0097A7;
}

.calculator-clear {    
    background: #0097A7;
}

.calculator-backspace {    
    background: #0097A7;
}

.calculator-numpad {
    background-color: #80DEEA;
}

