@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    background: whitesmoke;
    font-family: 'Bebas Neue', cursive;
    color: #f4feff;
    font-size: 35px;
    transition: all 0.5s linear;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    padding:  0px 140px 10px 140px;
    max-width: 1170px;  
}

.heading {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    color: #97C8EB;
    margin-top: 0px;
    text-align: center;
}

h1 {
    margin-block-end: auto;
    height: 70px;
}

p {
    font-family: monospace;
    font-size: 10px;
    color: black;
    align-self: center;    
}

.hide-tips {
    margin-block-start: 0px;
    color: #093A3E;
}

kbd {    
    font-family: monospace;    
    border-radius: 3px;
    padding: 0px 4px;
    box-shadow: 1px 1px 1px #777;
    margin: 1px;    
    background: #eee;
    color: darkslategray;
}

.calculator-body {
    display: grid;
    height: 450px;
    width: 300px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(6, 16.7%);
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
    margin-left: auto;
    margin-right: auto;
  
}

.calculator {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid #E0F7FA;
}

.calculator-main-display {
    display: flex;
    grid-column: 1 / span 4;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    background: linear-gradient(#97C8EB,#97C8EB);
    color:#001011;
    overflow: auto;
    }

.calculator-display {
    text-shadow: 0px 1px #FFFFFF;
}

.calculation {
    font-size: 15px;
    border: 0px;
    position: relative;
    bottom: 0px;
    z-index: 99;
}

.calc-btn {
    background: #093A3E;
    color: #97C8EB
}

.calculator-clear {    
    background: #093A3E;
    font-size: 22px;
}

.calculator-backspace {    
    background: #093A3E;
    font-size: 22px;
}

.calculator-numpad {
    background: #001011;
    font-size: 22px;

}

.calculator-equals {
    background: #97C8EB;
}

.calc-btn:hover {
    opacity: 0.7;
}

.calculator-equals:hover {
    opacity: 0.7;
}

.calculator-clear:hover {    
    opacity: 0.7;
}

.calculator-backspace:hover {    
    opacity: 0.7;
}

.keypress {
    opacity: 0.7;
}